body {
width:100%;
background-color: #8DEFE3;
margin: 0;}
.change-color {
  background-color: lavender;
  position: fixed;
}
img {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 70px;
border: 10px groove #C285F3;
width: 300px;
margin-left:auto;
margin-right:auto;
border-radius: 15px;
}
table{
  margin:auto;
  border-collapse: collapse;
}

table, tr, td, th{

border: 10px double indigo;
}

td, th, tr{
  padding: 25px
 
}

tr:hover {
  background-color:darkturquoise;
  color:yellow
}

.title{
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 50px;
}

.overlay{
  background-image:url("https://www.wallpaperink.co.uk/gallery/shutterstock/sunsets-beaches/Pink_Sunset.jpg");
  font-family:fantasy;
 

}

.blueshape {
  height:100px;
  width: 100px;
  background-color:deepskyblue;
  border-radius: 50%;
  border-top-right-radius: 80%;
  position: absolute;

}
.greenshape {
  position: relative;
  background-color:green;
  height: 30px;
  width: 35px;
  left: 30%;
  top: 50%;
  border-radius: 30%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 60%;
}

.down{
  margin-top: 500px;
  margin-bottom: 500px;
}
.more{
  font-family: 'Courgette', cursive;
}